* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
body header #info {
  background-color: #222222;
  display: flex;
  color: white;
  height: 6em;
}
body header #info .socials a {
  color: white;
  text-decoration: none;
}
body header #info .socials a .fab {
  cursor: pointer;
  margin-right: 20px;
  font-size: 12px;
  transition: color 0.5s;
}
body header #info .socials .fab:hover {
  color: #ff8201;
}
body header #info .contact {
  font-family: "Catamaran", sans-serif;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  gap: 40px;
}
body header #info .contact .phone .fal {
  margin-right: 10px;
}
body header #info .contact .mail .fal {
  margin-right: 10px;
}
body header #navigation {
  height: 0px;
}
body header .navbar {
  padding: 10px 20px;
  position: relative;
  top: -3em;
  background: #ededed;
  border-radius: 50px;
  width: 100%;
  max-width: 1250px;
  margin: auto;
}
body header .logo img {
  cursor: pointer;
}
body header .search-bar {
  display: flex;
  align-items: center;
}
body header input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
  width: 1100px;
  max-width: 1100px;
  border-radius: 20px;
}
body header button {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #FF8201;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body header button:hover {
  background-color: #45a049;
}
body main #welcome .image {
  background-image: url("../img/samsung.webp") !important;
  width: 100%;
  height: 100vh;
  background: no-repeat;
  background-size: cover;
  background-position: center top;
}
body main #welcome .image .paragraph {
  position: relative;
  top: 18em;
  left: 5em;
}
body main #welcome .image .paragraph .top h2 {
  font-family: "Catamaran", sans-serif;
  font-size: 44px;
  font-weight: 900;
  color: white;
  width: 500px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
body main #welcome .image .paragraph .top h2 span {
  color: #FF8201;
}
body main #welcome .image .paragraph .bottom {
  width: 350px;
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
body main #filter .droplist-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
body main #filter .droplist-container .droplist-button {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 150px;
  text-align: left;
}
body main #filter .droplist-container .droplist-button .rotate {
  transform: rotate(180deg);
}
body main #filter .droplist-container .droplist-button i {
  transition: transform 0.3s ease;
}
body main #filter .droplist-container .droplist-button {
  cursor: pointer;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
body main #filter .droplist-container .droplist-content {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}
body main #filter .droplist-container .droplist-content .checkbox-container {
  padding: 8px;
  width: 100%;
}
body main #filter .droplist-container .droplist-content .checkbox-container .checkbox-label {
  margin-left: 5px;
}
body main #filter .checkbox {
  margin-bottom: 10px;
}
body main #filter .checkbox-container {
  padding: 8px;
  background-color: #f9f9f9;
}
body main #filter .checkbox-container:hover {
  background-color: white;
}
body main #filter .checkbox-container-label {
  margin-left: 5px;
}
body main #product .cars {
  background-color: #F0F0F0;
  padding: 10px;
}
body main #product .cars .row {
  display: flex;
}
body main #product .cars .box {
  border-radius: 10px;
  box-shadow: 0 17px 34px 0 rgba(44, 39, 56, 0.04), 0 8px 17px 0 rgba(44, 39, 56, 0.02);
  transition: box-shadow 0.3s ease;
}
body main #product .cars .box .top {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
body main #product .cars .box .top img {
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease;
}
body main #product .cars .box .top img:hover {
  transform: scale(1.1);
}
body main #product .cars .box .bottom {
  padding: 10px;
}
body main #product .cars .box .bottom .model {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
body main #product .cars .box .bottom .total .current-price {
  color: #e44d26;
  font-size: 16px;
  font-weight: bold;
}
body main #product .cars .box .bottom .total .price {
  font-size: 16px;
  color: #c1624a;
  text-decoration: line-through;
}
body main #product .cars .box .bottom .total .discount-price {
  color: #e44d26;
  font-size: 16px;
  font-weight: bold;
}
body main #product .cars .box .bottom .category {
  font-size: 12px;
}
body main #product .cars .box .bottom .stock {
  font-size: 12px;
  color: #333;
  margin-top: 5px;
}
body main #product .cars .box:hover {
  box-shadow: 0 24px 48px 0 rgba(44, 39, 56, 0.1), 0 12px 24px 0 rgba(44, 39, 56, 0.06);
}
body main #product .pagination nav ul li a {
  text-decoration: none;
  color: grey;
}
body main #product .pagination .active {
  color: blue;
}
body footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
body footer .footer-container {
  display: flex;
  justify-content: space-around;
}
body footer .footer-container .footer-section {
  max-width: 300px;
}
body footer .footer-container .footer-section h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
body footer .footer-container .footer-section p {
  margin: 0;
}
body footer .footer-container .footer-section p a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s all;
}
body footer .footer-container .footer-section p a:hover {
  color: #FF8201;
}

@media (max-width: 1400px) {
  #info {
    background-color: #222222;
    display: flex;
    color: white;
    height: 6em;
  }
  #info .socials a {
    color: white;
    text-decoration: none;
  }
  #info .socials a .fab {
    cursor: pointer;
    margin-right: 20px;
    font-size: 10px !important;
    transition: color 0.5s;
  }
  #info .socials .fab:hover {
    color: #ff8201;
  }
  #info .contact {
    font-family: "Catamaran", sans-serif;
    font-size: 10px !important;
    font-weight: 300;
    display: flex;
    gap: 40px;
  }
  #info .contact .phone .fal {
    margin-right: 10px;
  }
  #info .contact .mail .fal {
    margin-right: 10px;
  }
  .logo img {
    cursor: pointer;
  }
  input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    width: 800px !important;
    max-width: 1100px;
    border-radius: 20px;
  }
  input[type=text] {
    max-width: 90%;
  }
}
@media (max-width: 992px) {
  input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    width: 400px !important;
    max-width: 1100px;
    border-radius: 20px;
  }
  .logo img {
    width: 130px !important;
  }
}
@media (max-width: 768px) {
  #info {
    background-color: #222222;
    display: flex;
    color: white;
    height: 6em;
  }
  #info .socials a {
    color: white;
    text-decoration: none;
  }
  #info .socials a .fab {
    cursor: pointer;
    margin-right: 20px;
    font-size: 8px !important;
    transition: color 0.5s;
  }
  #info .socials .fab:hover {
    color: #ff8201;
  }
  #info .contact {
    font-family: "Catamaran", sans-serif;
    font-size: 8px !important;
    font-weight: 300;
    display: flex;
    gap: 40px;
  }
  #info .contact .phone .fal {
    margin-right: 10px;
  }
  #info .contact .mail .fal {
    margin-right: 10px;
  }
  .logo img {
    cursor: pointer;
    width: 100px !important;
  }
  input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
    width: 200px !important;
    max-width: 1100px;
    border-radius: 20px;
  }
}/*# sourceMappingURL=style.css.map */